<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="serviceTest" class="com.heiketu.service.TestService"></bean>
	
	<!-- 配置shiro的securityManager -->
	<bean id="securityManager"
		class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="cacheManager" ref="cacheManager" />
		<!-- 
		shiro中session相关配置与单个Realm属性配置
		<property name="sessionMode" value="native" />
		<property name="realm" ref="jdbcRealm" />
		 -->
		 <!-- 使用多Realm时使用该配置配置多realm认证匹配器 -->
		 <property name="authenticator" ref="authenticator"/>
		 <!-- 授权时需要用到securityManager的realms
		 所以要使用shiro授权则需要将realms配置到securityManager下.
		 同样，运行时securityManager会将realms交给ModularRealmAuthenticator
		 所以ModularRealmAuthenticator同样能使用securityManager的realms集合-->
		 <property name="realms">
			<list>
				<ref bean="jdbcRealm"/>
				<ref bean="secondRealm"/>
			</list>
		</property>
	</bean>
	
	
	<!-- 添加多Realm认证匹配器 -->
	<bean id="authenticator" class="org.apache.shiro.authc.pam.ModularRealmAuthenticator">
		<!-- 配置认证策略 -->
		<property name="authenticationStrategy">
			<!-- 所有Realm皆匹配成功才算成功 -->
			<bean class="org.apache.shiro.authc.pam.AtLeastOneSuccessfulStrategy"></bean>
			<!-- 最后一个匹配成功才算成功 -->
			<!-- <bean class="org.apache.shiro.authc.pam.AtLeastOneSuccessfulStrategy"></bean> -->
			<!-- 最后一个匹配成功才算成功 -->
			<!-- <bean class="org.apache.shiro.authc.pam.AtLeastOneSuccessfulStrategy"></bean> -->
			<!-- 第一个匹配成功即算匹配成功 -->
			<!-- <bean class="org.apache.shiro.authc.pam.FirstSuccessfulStrategy"></bean> -->
		</property>
	</bean>
	
	
	<!-- shiro缓存管理器，采用第三方缓存 -->
	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<!-- 
		采用bean方式，也可以采用指定类路径下的xml文件
		<property name="cacheManager" ref="ehCacheManager"/>
		 -->
		<property name="cacheManagerConfigFile" value="classpath:ehcache.xml"/>
	</bean>
	
	<!-- 第一个Realm -->
	<bean id="jdbcRealm" class="com.heiketu.shiro.realm.ShiroRealm">
		<!-- 配置自定义的凭证匹配器 -->
		<property name="credentialsMatcher">
			<!-- 
				内部构造:new SimpleHash(hashAlgorithmName, credentials, salt, hashIterations)对象
				通过创建SimpleHash对象来进行加密
			 -->
			<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
				<!-- 采用MD5算法加密 -->
				<property name="hashAlgorithmName" value="MD5"></property>
			</bean>
		</property>
	</bean>
	
	<!-- 第二个Realm -->
	<bean id="secondRealm" class="com.heiketu.shiro.realm.SecondRealm">
		<!-- 配置自定义的凭证匹配器 -->
		<property name="credentialsMatcher">
			<!-- 
				内部构造:new SimpleHash(hashAlgorithmName, credentials, salt, hashIterations)对象
				通过创建SimpleHash对象来进行加密
			 -->
			<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
				<!-- 采用MD5算法加密 -->
				<property name="hashAlgorithmName" value="SHA1"></property>
			</bean>
		</property>
	</bean>

	<!-- shiro生命周期Post处理器 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
		depends-on="lifecycleBeanPostProcessor" />
	<bean
		class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>

	<bean id="secureRemoteInvocationExecutor"
		class="org.apache.shiro.spring.remoting.SecureRemoteInvocationExecutor">
		<property name="securityManager" ref="securityManager" />
	</bean>

	<!-- shiro权限过滤:id要和web.xml中的ShiroFilter的filter-name一致[默认情况下，
	如果不一致，spring会在filer的init-param中的targetBeanName配置参数中获取到对应的bean名称，
	如果没有在容器中配置该bean，则会抛出NoSuchBeanDefinitionException异常] -->
	<bean id="shiroFilter"
		class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<!-- 登录页面 -->
		<property name="loginUrl" value="/login.jsp" />
		<!-- 登录成功页面 -->
		<property name="successUrl" value="/success.jsp" />
		<!-- 无权限页面 -->
		<property name="unauthorizedUrl" value="/unauthorized.jsp" />
		<!-- 
		Shiro会通过Web.xml中的ShiroFilter过滤器调用该
		id为shiroFilter的Bean,然后通过该Bean的property name为filterChainDefinitions中设置的value来
		判断页面是否需要验证授权才能访问。
		默认情况下，没有配置到value中的路径shiro不会拦截，而路径被标识为anon的则为
		可以通过匿名访问[也就是可以直接访问],标识为authc则为需要授权才能访问的页面。
		 -->
		<!-- <property name="filterChainDefinitions">
			<value>
				anon:表示可以匿名访问
				 = anon
				/user.jsp = roles[user]
				/shiroRequest/login = anon
				/shiro/logout = logout
				authc:表示需要授权才可以访问
				/** = authc
			</value>
		</property> -->
		<property name="filterChainDefinitionMap" ref="filterChainDefinition"></property>
	</bean>
	
	<bean id="filterChainDefinition" factory-bean="filterChainDefinitionBuilder" factory-method="FilterChainFactoryBeanBuilder"></bean>
	<bean id="filterChainDefinitionBuilder" class="com.heiketu.shiro.factorybean.FilterChainDefinitionFactory"></bean>

</beans>
